@media (max-width: 1200px) {
    .header {
        grid-template-rows: 1fr auto;
    }
    .button-month {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        display: flex;
        justify-content: space-between;
    }
    .select-year-month {
        padding: 1rem;
        grid-column: 2/4;
        justify-self: end;
    }
    .select-year-month select,
    .select-year-month button {
        max-height: fit-content;
        max-width: fit-content;
        /* font-size: small; */
    }
}

@media (max-width: 900px) {
    .header {
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .app-name,
    .button-month,
    .select-year-month {
        grid-column: 2/3;
    }
    .app-name {
        grid-row: 1/2;
        justify-self: center;
    }
    .button-month {
        grid-row: 3/4;
    }
    .select-year-month {
        justify-self: center;
        grid-row: 2/3;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-rows: repeat(5, auto);
    }
    .genre-nav {
        display: flex;
        align-items: center;
        grid-column: 1 /-1;
        grid-row: 2/3;
        width: 100%;
        min-height: 10rem;
        margin-top: 2rem;
        padding: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .genre-list {
        display: flex;
        flex-direction: row;
        height: 10rem;
        gap: 2rem;
    }
    .genre {
        height: fit-content;
        flex-shrink: 0;
    }
    .detail-box {
        grid-column: 1 /-1;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        min-width: 100%;
    }
    .pie-chart {
        grid-column: 1 /-1;
        grid-row: 4/5;
    }
    .table-box {
        grid-column: 1 /-1;
        grid-row: 5/6;
    }
}
@media (max-width: 530px) {
    .container {
        row-gap: 2rem;
    }
    .detail-box {
        flex-direction: column;
    }
}
