@media (max-width: 1200px) {
    .header {
        grid-template-rows: 1fr auto;
    }
    .header__btn--month {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        display: flex;
        justify-content: space-between;
    }
    .header__select {
        padding: 1rem;
        grid-column: 2/4;
        justify-self: end;
    }
    .selector,
    .header__select-btn {
        max-height: fit-content;
        max-width: fit-content;
        /* font-size: small; */
    }
}

@media (max-width: 900px) {
    .header {
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .header__app-name,
    .header__btn--month,
    .header__select {
        grid-column: 2/3;
    }
    .header__app-name {
        grid-row: 1/2;
        justify-self: center;
    }
    .header__btn--month {
        grid-row: 3/4;
    }
    .header__select {
        justify-self: center;
        grid-row: 2/3;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-rows: repeat(5, auto);
    }
    .list--genre {
        display: flex;
        align-items: center;
        grid-column: 1 /-1;
        grid-row: 2/3;
        max-width: 100%;
        min-height: 15rem;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .list--genre--ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
    }
    .list--genre--li {
        height: max-content;
        flex-shrink: 0;
    }

    .box__detail {
        grid-column: 1 /-1;
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
        min-width: 100%;
    }
    .pie-chart {
        grid-column: 1 /-1;
        grid-row: 4/5;
    }
    .box__table {
        grid-column: 1 /-1;
        grid-row: 5/6;
    }
}
@media (max-width: 530px) {
    .container {
        row-gap: 2rem;
    }
    .box__detail {
        flex-direction: column;
    }
}
