/* コード規約 
1, displayを先頭
2, align-item, justyfy-content,gapなどflex関連を続ける
3, width,heightなどbox-sizeに関するもの
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #343a40;
}
body {
    /* background-color: #ebfbeee4; */
    width: 100%;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 78px 450px 1fr;
    row-gap: 7%;
    justify-content: center;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    column-gap: 100px;
    align-items: center;
    background-color: #66efe6ea;
    border-radius: 16px;
    padding: 16px 48px;
    /* height: 20%; */
}

.app-name {
    grid-column: 1/2;
    font-size: 32px;
}
.button-month img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    box-shadow: 0 2px 0 2px rgb(0, 0, 0, 0.3);
}
.button-month {
    display: flex;
    grid-column: 2/3;
    align-items: center;
    justify-content: space-between;
}
.button-month p {
    font-size: 36px;
}

.button-month button {
    background: none;
    border: none;
}
.button-month img:hover,
.button-month img:active {
    cursor: pointer;
}
.button-month img:active {
    box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.2);
}

.app-name a {
    text-decoration: none;
}

.select-year-month {
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
    grid-column: 3/4;
}
.select-year-month select,
.select-year-month button {
    padding: 3.2px 6.4px;
    font-size: 16px;
}
.genre-nav {
    width: max-content;
}

.genre-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

.genre {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 3px 3px 0.01px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 16px;
    list-style: none;
    background-color: #fdfdfd;
}

.genre a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #343a40;
}
.genre:hover,
.genre div li:hover {
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
}
.genre:active,
.genre div li:active {
    box-shadow: 2px 1px 3px inset;
}
.genre a:active {
    color: #868e96;
}
.icon {
    width: 32px;
    height: 32px;
}
.genre div ul {
    list-style: none;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.genre div li {
    padding: 6px 12px;
    font-size: 16px;
    box-shadow: 0 3px 3px 0.01px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pie-chart,
.circle {
    height: 100%;
}
.pie-chart {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    text-align: center;
}

.detail-box {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    justify-self: center;
    align-self: start;
    gap: 30px;
    box-shadow: 0.5px 0.5px 4px inset;
    border-radius: 10px;
    padding: 16px;
}
.detail-box p {
    font-size: 24px;
    font-weight: bold;
}
.detail-box ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 24px;
    list-style: none;
}
.hidden {
    display: none;
}
.table-box {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
}
.table-box button {
    align-self: flex-end;
    padding: 5px 10px;
    width: fit-content;
}
table {
    justify-items: center;
    align-self: start;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
th,
td {
    border: solid 1px black;
}
th {
    height: 10px;
    padding: 5px;
}
td {
    height: 100px;
}
