/* コード規約 
1, displayを先頭
2, align-item, justyfy-content,gapなどflex関連を続ける
3, width,heightなどbox-sizeに関するもの
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    color: #495057;
}
body {
    width: 100dvw;
    height: 100dvh;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    row-gap: 4rem;
    justify-content: center;
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.main-header {
    grid-column: 1/-1;
    padding-top: 2rem;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.app-name {
    grid-column: 1/2;
    justify-self: start;
    font-size: 3.6rem;
}
.button-month .btn-icon {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    /* box-shadow: 0 2px 0 2px rgb(0, 0, 0, 0.3); */
}
.button-month {
    display: flex;
    grid-column: 2/3;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}
.button-month p {
    font-size: 3.6rem;
    font-weight: bold;
}

.button-month button {
    background: #fff;
    border: none;
    border-radius: 50%;
}
.button-month p:hover,
.button-month p:active,
.button-month button:hover,
.button-month button:active {
    cursor: pointer;
}
.button-month button:hover {
    box-shadow: 0 0.2rem 0 0.2rem rgb(0, 0, 0, 0.3);
}
.button-month button:active {
    box-shadow: 0 0 0 0.1rem rgb(0, 0, 0, 0.2);
}

.app-name a {
    text-decoration: none;
}

.select-year-month {
    display: flex;
    justify-self: center;
    align-items: center;
    grid-column: 3/4;
    padding: auto;
}
.select-year-month form {
    display: flex;
    gap: 2rem;
}
.select-year-month select,
.select-year-month button {
    padding: 0.32rem 0.64rem;
    font-size: 1.6rem;
    text-align: center;
}
.genre-nav {
    width: fit-content;
    justify-self: start;
    height: 80%;
    overflow-y: auto;
}

.genre-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2.8rem;
    font-weight: bold;
}

.genre {
    display: flex;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 0.3rem 0.3rem 0.001rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 2rem 1.6rem;
    list-style: none;
    background-color: #fdfdfd;
}

.genre a {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: #495057;
}
.genre:hover,
.genre div li:hover {
    box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    background-color: #dcfff4;
}
.genre:active,
.genre div li:active {
    box-shadow: 2px 1px 3px inset;
}

.genre a:active {
    color: #868e96;
}
.icon {
    width: 3.2rem;
    height: 3.2rem;
}
.genre div ul {
    list-style: none;
    margin: 0 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.genre div li {
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    box-shadow: 0 3px 3px 0.01px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.pie-chart,
.circle {
    height: 100%;
    width: 100%;
}
.pie-chart {
    grid-column: 2/3;
    grid-row: 2/3;
}

.detail-box {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    justify-self: center;
    align-self: start;
    gap: 3rem;
    box-shadow: 0.5px 0.5px 4px inset;
    border-radius: 1rem;
    padding: 1.6rem;
    max-width: fit-content;
}
.detail-box p {
    font-size: 2.8rem;
    font-weight: bold;
}
.detail-box ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2.8rem;
    list-style: none;
}
.hidden {
    display: none;
}
.table-box {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
    gap: 0.1rem;
    font-size: 2.4rem;
}

.table-box button {
    align-self: flex-end;
    padding: 0.8rem 1.2rem;
    width: fit-content;
    border-radius: 4px;
    background: none;
    border: none;
    background-color: #7ae9f3;
}
table {
    justify-items: center;
    align-self: start;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 0.5rem;
    border-spacing: 0;
}

th:first-child {
    border-top-left-radius: 2rem;
}
th:last-child {
    border-top-right-radius: 2rem;
}
td:first-child {
    border-bottom-left-radius: 2rem;
}
td:last-child {
    border-bottom-right-radius: 2rem;
}

th {
    background-color: #c5f6fa;
    height: 1rem;
    padding: 0.5rem;
}
td {
    background-color: #f8f9fa;
    height: 10rem;
}
