/* コード規約 
1, displayを先頭
2, align-item, justyfy-content,gapなどflex関連を続ける
3, width,heightなどbox-sizeに関するもの
 */

$main-color: #63e6be;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    color: #495057;
}
body {
    width: 100dvw;
    height: 100dvh;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    row-gap: 4rem;
    justify-content: center;
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column: 1/-1;
    padding-top: 2rem;

    &__app-name {
        grid-column: 1/2;
        justify-self: start;
        font-size: 3.6rem;
        a {
            text-decoration: none;
        }
    }
    &__btn--month {
        display: flex;
        grid-column: 2/3;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
    }
    &__btn {
        background: #fff;
        border: none;
        border-radius: 50%;
        &:hover {
            box-shadow: 0 0.2rem 0 0.2rem rgb(0, 0, 0, 0.3);
        }
        &:active {
            box-shadow: 0 0 0 0.1rem rgb(0, 0, 0, 0.2);
        }
    }

    &__icon--arr {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
    }
    &__month {
        font-size: 3.6rem;
        font-weight: bold;
    }

    &__month,
    &__btn {
        &:hover,
        &:active {
            cursor: pointer;
        }
    }
    &__select {
        display: flex;
        justify-self: center;
        align-items: center;
        grid-column: 3/4;
        padding: auto;
    }
    &__form {
        display: flex;
        gap: 2rem;
        font-size: 1.6rem;
        select,
        button {
            padding: 0.32rem 0.64rem;
            text-align: center;
        }
    }
}

.list--genre {
    width: fit-content;
    justify-self: start;
    height: auto;
    overflow-y: auto;
    &--ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1rem;
    }
    &--li {
        display: flex;
        align-items: center;
        gap: 2rem;
        box-shadow: 0 0.3rem 0.3rem 0.001rem rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        padding: 2rem 1.6rem;
        list-style: none;
        background-color: #fdfdfd;
    }
    &--link {
        display: flex;
        align-items: center;
        gap: 2rem;
        text-decoration: none;
        color: #495057;
        &:active {
            color: #868e96;
        }
    }
    .hidden {
        display: none;
    }
    &--sub {
        ul {
            list-style: none;
            margin: 0 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        li {
            padding: 0.6rem 1.2rem;
            font-size: 1.6rem;
            box-shadow: 0 3px 3px 0.01px rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
        }
    }
    &--li,
    &--sub li {
        &:hover {
            box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        }
        &:active {
            box-shadow: 2px 1px 3px inset;
        }
    }
    &__icon {
        width: 3.2rem;
        height: 3.2rem;
    }
}

.add-genre {
    gap: 1rem;
    font-size: 1.6rem;
    background-color: #fff;
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        background: none;
        border: 1px solid $main-color;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            background-color: $main-color;
        }
        &:active {
            border: 1px solid $main-color;
        }
        &:focus {
            outline: none;
        }
        &:focus-visible {
            outline: 2px solid black;
        }
    }
    &__icon {
        fill: #63e6be;
        &:hover {
            fill: #fff;
        }
    }
}

.pie-chart,
.circle {
    height: 100%;
    width: 100%;
}
.pie-chart {
    grid-column: 2/3;
    grid-row: 2/3;
}

.box__detail {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    justify-self: center;
    align-self: start;
    gap: 3rem;
    box-shadow: 0.5px 0.5px 4px inset;
    border-radius: 1rem;
    padding: 1.6rem;
    max-width: fit-content;
    &--total {
        font-size: 2.8rem;
        font-weight: bold;
    }
    &--ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 2.8rem;
        list-style: none;
    }
}

.box__table {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 3/4;
    gap: 0.1rem;
    font-size: 2.4rem;
    &__btn {
        align-self: flex-end;
        padding: 0.8rem 1.2rem;
        width: fit-content;
        border-radius: 4px;
        background: none;
        border: none;
        background-color: #7ae9f3;
    }
    &__table {
        justify-items: center;
        align-self: start;
        width: 100%;
        text-align: center;
        table-layout: fixed;
        border-collapse: separate;
        border-radius: 0.5rem;
        border-spacing: 0;
    }
    th {
        background-color: #c5f6fa;
        height: 1rem;
        padding: 0.5rem;
        &:first-child {
            border-top-left-radius: 2rem;
        }
        &:last-child {
            border-top-right-radius: 2rem;
        }
    }
    td {
        background-color: #f8f9fa;
        height: 10rem;
        &:first-child {
            border-bottom-left-radius: 2rem;
        }
        &:last-child {
            border-bottom-right-radius: 2rem;
        }
    }
}
